*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white ;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f4f4f4;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
    flex-wrap: wrap;
}

.crew{
    
    margin: 2rem;
    text-align: center;
}

.who-container{
    width: 500px;
    max-width: 600px;
    margin: 0 2rem;
}

/*  */

.section{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f4f4f4;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.img{
    width: 280px;
    height: 350px;
    position: relative;
    /* border-radius: 5px; */
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */


}


.img img{
    border-radius: 5px;
    box-shadow: 2px 2px 20px black;
    width: 200px;



}

.name{
    padding: 0.8rem;
    font-size: 1.2rem;


}

.title{
    transform: rotate(90deg);
    font-size: 8px;
    position: absolute;
    top: 2rem;
    left: 12rem;


}

.img2{
    margin-top: 70px;


}

.img5{
    margin-top: 78px;
}

@media screen and ( max-width:1146px) {
    .img5{
        margin-top: 0;

    }

    .img4{
        margin-top: 70px;
    }

    .img6{
        margin-top: 70px;
    }
    
}

